#footdiv{
           float:left;
           background:#525354;

         }
#back{
      background:#525354;
      color:white;
      }

#c{
    color:#999999;
   }

#d {
     background:#F4F4F4;

 }
